.pagination-container {
  .page-item {
    .page-link {
      color: #68a79e;
    }
  }
  .page-item:hover {
    cursor: pointer;
  }
    .active {
    .page-link {
      background-color: #68a79e;
      border-color: #68a79e;
      color: #ffffff;
    }
  }
}