<!-- Social icons row -->
<nav class="container-fluid" id="footer">
    <div class="row">
        <div class="col-12 text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item m-1"><a href="https://www.facebook.com/DaveRudolphMusic" target="_blank" rel="noopener noreferrer" aria-label="facebook-link"><i class="fab fa-facebook-f" aria-label="Facebook"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://www.instagram.com/daverudolphmusic/" target="_blank" rel="noopener noreferrer" aria-label="instagram-link"><i class="fab fa-instagram" aria-label="Instagram"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://twitter.com/DaveRudolphGtr" target="_blank" rel="noopener noreferrer" aria-label="twitter-link"><i class="fab fa-twitter" aria-label="Twitter"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://music.youtube.com/channel/UC6hkMDC5qOwwwZiitKFftTQ" target="_blank" rel="noopener noreferrer" aria-label="youtube-link"><i class="fab fa-youtube" aria-label="YouTube"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://music.apple.com/us/artist/dave-rudolph/1537874270" target="_blank" rel="noopener noreferrer" aria-label="apple music-link"><i class="fab fa-itunes-note" aria-label="iTunes"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://www.tiktok.com/@daverudolphmusic" target="_blank" rel="noopener noreferrer" aria-label="tiktok-link"><i class="fab fa-tiktok" aria-label="TikTok"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://music.amazon.com/artists/B07FC6YDC2/dave-rud" target="_blank" rel="noopener noreferrer" aria-label="amazon-link"><i class="fab fa-amazon" aria-label="Amazon"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://daverudolphmusic.bandcamp.com/releases" target="_blank" rel="noopener noreferrer" aria-label="bandcamp-link"><i class="fab fa-bandcamp" aria-label="Bandcamp"></i></a></li>
                <li class="list-inline-item m-1"><a href="https://deezer.page.link/n66HUgRhtmAd9yc58" target="_blank" rel="noopener noreferrer" aria-label="deezer-link"><i class="fab fa-deezer" aria-label="Deezer"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<script>
    const darkModeSwitch = document.getElementById("darkModeSwitch");
    const body = document.body;
    const slider = darkModeSwitch.querySelector(".lightswitch-slider");

    // Function to set the cookie with an expiration time of 30 minutes
    function setDarkModeCookie(value) {
        let expirationTime = new Date();
        expirationTime.setTime(expirationTime.getTime() + 30 * 60 * 1000);
        let expires = "expires=" + expirationTime.toUTCString();
        document.cookie = "dark-mode=" + value + "; " + expires + "; path=/";
    }

    // Function to get the value of the dark-mode cookie
    function getDarkModeCookie() {
        const name = "dark-mode=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const cookieArray = decodedCookie.split(';');

        for (let i = 0; i < cookieArray.length; i++) {
            let cookie = cookieArray[i];
            while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) === 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return null;
    }

    // Check the initial state of the cookie and update UI accordingly
    const initialDarkModeValue = getDarkModeCookie();
    if (initialDarkModeValue === "1") {
        body.classList.add("dark-mode");
        slider.classList.add("slide-right");
    }

    // Event listener for the darkModeSwitch
    darkModeSwitch.addEventListener("click", () => {
        const currentDarkModeValue = getDarkModeCookie();

        // Toggle the cookie value
        const newDarkModeValue = currentDarkModeValue === "1" ? "0" : "1";
        setDarkModeCookie(newDarkModeValue);

        // Toggle the UI
        body.classList.toggle("dark-mode");
        slider.classList.toggle("slide-right");
    });

</script>
</body>

</html>