<nav class="container-fluid py-8 xball">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <a class="text-teal-600 text-3xl " href="#">Dave Rudolph</a>
            <ul class="flex flex-wrap justify-center mt-4 md:mt-0">
                {% set navItems = navigation.navItem.all() %}
                {% for navItem in navItems %}
                    <li class="m-1">
                        <a
{#                                {% if navItem.navPageLink is not null %}#}
                                {% if navItem.navPageLink %}
                                    {% for link in navItem.navPageLink %}
                                        href="{{ link.getUrl() }}"
                                    {% endfor %}
                                {% endif %}


{#                                {% if navItem.navExternalLink is not null  %}#}
                                {% if navItem.navExternalLink  %}
                                    href="{{ navItem.navExternalLink }}" target="_blank"
                                {% endif %}
                                class="text-teal-600 hover:text-teal-300">
                            {{ navItem.navLinkTitle }}


                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>