{% set params = {
    image:false,
    title: false
}|merge(params|default({})) %}

<img src="{{ params.image.getUrl() }}" alt="{{ params.image.getFileName }}">

{#{% if params.title %}#}
    <h1>{{ params.title }}</h1>
{#{% endif %}#}