columnSuffix: null
contentColumnType: text
handle: city
instructions: 'city of the Show... e.g. Canton , Cleavland, akron Alabama North'
name: City
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: false
  columnType: null
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
