columnSuffix: null
contentColumnType: text
handle: infoUrl
instructions: 'Link to more information about the show.'
name: 'info url'
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: false
  columnType: null
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
