columnSuffix: null
handle: infoUrl2
instructions: 'Link to more information about the show.'
name: 'Tour Dates - Dates - info url'
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: false
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
