columnSuffix: mzxxcxbp
contentColumnType: text
handle: linkTitle
instructions: 'Title of the link'
name: 'Link Title'
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: false
  columnType: null
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
