columnSuffix: null
handle: videoTitle
instructions: 'The name or title of your video'
name: 'Videos - Video - Video Title'
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: false
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
