{% extends '_layout.twig' %}

{% block content %}
    {% switch entry.pageType %}
    {% case "tour" %}
        {% include "blocks/_tour.twig" %}
    {% case "music" %}
        {% include "blocks/_music.twig" with { params:{
            spotifyAlbumBlock: entry.spotifyAlbumBlock
        }} %}
    {% case "about" %}
        {% include "blocks/_about.twig" with { params:{
            customContent: entry.customContent
        }} %}
    {% case "contact" %}
        {% include "blocks/_contact.twig" with { params:{
            showForm: entry.lightswitch
        }} %}
    {% case "media" %}
        <h1>media</h1>
    {% default %}
    {% endswitch %}

{% endblock %}