{% extends "_layout" %}
{% block content %}

    {#  HERO IMAGE #}
    {% include '_components/_hero' with { params:{
        image: entry.headerImage.one(),
        title: entry.title ?? "ABOUT",
        id:'about'
    }} %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-10 col-md-8 mx-auto py-5">
                {% if entry.customContent %}
                    {{ entry.customContent }}
                {% else %}
                    <h1 class="xball">Dave Rudolph is:</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius id temporibus doloremque magni,
                        voluptatum
                        repellendus beatae, perferendis ullam minus asperiores placeat dolore sed ea inventore quos
                        facere
                        suscipit quo consequatur ad. Magnam, distinctio, soluta porro nostrum maxime nobis obcaecati
                        repellat
                        natus, provident harum nihil dicta!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius id temporibus doloremque magni,
                        voluptatum
                        repellendus beatae, perferendis ullam minus asperiores placeat dolore sed ea inventore quos
                        facere
                        suscipit quo consequatur ad. Magnam, distinctio, soluta porro nostrum maxime nobis obcaecati
                        repellat
                        natus, provident harum nihil dicta!</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius id temporibus doloremque magni,
                        voluptatum
                        repellendus beatae, perferendis ullam minus asperiores placeat dolore sed ea inventore quos
                        facere
                        suscipit quo consequatur ad. Magnam, distinctio, soluta porro nostrum maxime nobis obcaecati
                        repellat
                        natus, provident harum nihil dicta!</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}