{% include "partials/header" %}
{% include "partials/nav" %}

<div class="container-fluid mt-5" id="blog-main">
    <div class="row">
        <div class="col-sm-12">
            <p class="display-4 text-center page-header-title" id="blog-main-title">Blog</p>
        </div>
    </div>
</div>


<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-10 col-md-8 mx-auto">
            <table class="table">
                <tbody>
                {# Fetch entries with a selected date in the next month #}

                {% set entries = craft.entries()
                    .section('blog')
                    .all() %}

                {% set entries = entries|multisort('date', direction=SORT_ASC) %}

                {% if entries|length %}
                    {% for entry in entries %}
                        <tr>
                            <td><span class="text-muted font-weight-bold">{{entry.date|date('medium') }}</span></td>
                            <td><span class="text-muted font-weight-bold">Title</span> {{entry.title}}</td>
                            <td><a href="{{entry.getUrl}}" class="btn btn-md btn-info" target="_blank">Read</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>


{% include "partials/footer" %}


