{% include "partials/header" %}
{% include "partials/nav" %}

<div class="container-fluid mt-5" id="blog-main">
    <div class="row">
        <div class="col-sm-12">
            <p class="display-4 text-center page-header-title" id="blog-main-title">{{ entry.title }}</p>
        </div>
    </div>
</div>


<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-10 col-md-8 mx-auto">
            {{ entry.blogContent }}
        </div>
    </div>
</div>


{% include "partials/footer" %}


