{% include "partials/header" %}
{% include "partials/nav" %}

{% set image = entry.headerImage.one ?: false  %}
{% include '_components/header.twig' with { params:{
    image: image,
    title: entry.title
}} %}

<div class="container mx-auto">
    {{ freeform.form("contact").render() }}
</div>

{% include "partials/footer" %}