{% include "partials/header" %}
{# {% include "partials/nav" %} #}

<div class="container-fluid py-5" style="background-color: #cdced0">
    <div class="row py-5">
        <div class="col-sm-12">
            <h1 class="text-center" style="font-size: 5em; font-weight: bold">TIP THE BAND</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mx-auto">

            {% set entries =  craft.entries.section('linkPage').inReverse().all() %}
            <ul class="list-unstyled">
                {% for entry in  entries %}
                    <li class="text-center py-5">
                        <a href="{{ entry.urlToSource }}" target="_blank">
                            {% set photos = entry.linkLogo.all %}
                            {% if photos|length > 0 %}
                                {% for photo in  photos %}
                                    <span class="logo-img-container"
                                          style="height: auto;width: 200px;display: inline-block;overflow: hidden;margin-right: 15px;">
                                <img src="{{ photo.getUrl() }}" class="img-fluid" alt="">
                                </span>
                                {% endfor %}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

<!-- Dave google sheet embed here -->
<div class="container-fluid bg-light py-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Band Song List</h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-sm-12 col-md-8 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT9WE8rxI2L7qcmZAJzV8C7dp-00XIJcXHeKilpoB2GIxodw3vaxwStNDHpUXjtNJk-cru5HZoNiOYH/pubhtml?widget=true&amp;headers=false"></iframe>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">FOLLOW US BELOW</h1>
        </div>
    </div>
</div>


{% include "partials/footer" %}