{% extends "_layout" %}
{% block content %}

    {#  HERO IMAGE #}
    {% include '_components/_hero' with { params:{
        image: entry.headerImage.one(),
        title: entry.title ?? "MEDIA",
        id:'media'
    }}%}

    <div class="container mt-4 py-5">
        <div class="row py-5">
            {% set blocks = entry.videos.all() %}
            {% if blocks|length %}
                {% for block in blocks %}
                    <div class="col-sm-12 col-md-6 col-lg-8 mx-auto my-4">
                        <h1 class="text-center py-3 xball">{{block.videoTitle}}</h1>
                        <div class="embed-responsive embed-responsive-21by9">
                            {{block.videoEmbed|raw}}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}