{% include "partials/header" %}
{% include "partials/nav" %}

{% set image = entry.headerImage.one ?: false %}
{% set albumCover = entry.albumCover.one().getUrl() ?? '/img/album.jpg' %}

{% include '_components/header.twig' with { params:{
    image: image,
    title: entry.title
}} %}
<div class="container mx-auto flex flex-col md:flex-row px-4 py-12">
    <div class="flex flex-col md:w-1/2 justify-center items-center p-4">
        <h2 class="text-2xl sm:text-4xl lg:text-5xl mb-4 text-center font-xball italic">{{ entry.albumCta|length ? entry.albumCta : 'ALBUM OUT NOW' }}</h2>
            <img class="max-h-72 sm:max-h-96 md:max-h-120 lg:max-h-160"
                 src="{{ albumCover }}"
                 alt="{{ entry.headerImageAlt }}">
    </div>
    <div class="flex flex-col md:w-1/2 justify-center items-center p-4">
        <ul class="list-unstyled">
            {% set blocks = entry.spotifyiframes.all() %}
            {% if blocks|length %}
                {% for block in blocks %}
                    <li class="my-2">
                        <iframe class="h-[100px]" src="{{ block.iframe }}" allowtransparency="true" allow="encrypted-media"></iframe>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% include "partials/footer" %}