{% extends "_layout" %}
{% block content %}
    {#  HERO IMAGE #}
    {% include '_components/_hero' with { params:{
        image: entry.headerImage.one(),
        title: entry.title ?? "TOUR",
        id:'tour'
    }}%}

    <div class="container-xl container-shows">
        {{ sprig('_components/pagination', {
            'title':'Upcoming Dates',
            'limit': 12,
            'futureDates': true,
            'order': 'date ASC'
        }) }}
    </div>

    <div class="container-xl container-shows">
        {{ sprig('_components/pagination', {
            'title':'Past Dates',
            'limit': 12,
            'futureDates': false,
            'order': 'date DESC'
        }) }}
    </div>

{% endblock %}
