@font-face {
    font-family: russo;
    src: url("/fonts/russo_one.ttf"); }

@font-face {
    font-family: xball;
    src: url("/fonts/XBall_Italic.ttf"); }

.xball {
    font-family: xball; }

.btn {
    background-color: #68a79e;
    font-family: russo; }

h1 {
    color: #68a79e; }

.page-header-title {
    font-family: xball;
    letter-spacing: 20px;
    font-size: 4.5em;
    color: #ffffff;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.78);
    padding: 3em 0; }

@media screen and (max-width: 450px) {
    .page-header-title {
        font-size: 3em;
        letter-spacing: 10px; } }

.navbar .navbar-brand {
    font-family: xball;
    color: #68a79e;
    font-size: 60px; }

.navbar #navbarDrop ul li span,
.navbar #navbarDrop ul li a {
    font-family: xball;
    font-size: 20px;
    color: #68a79e;
    transition: all ease-in-out .5s; }

.navbar #navbarDrop ul li a:hover {
    color: #2b5751;
    transform: translateY(-2px); }

@media screen and (max-width: 518px) {
    .navbar .navbar-brand {
        font-size: 1.5em; } }

#footer ul li {
    margin: 0 3px; }
#footer ul li a i {
    border: solid 2px #68a79e;
    border-radius: 50%;
    padding: 7px 10px;
    color: #68a79e;
    transition: all ease-in-out .5s; }
#footer ul li a:hover i {
    border-color: #2b5751;
    color: #2b5751;
    transform: translateY(-5px); }

#about {
    background-image: url("/img/jumbo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; }
#about #about-title {
    padding: 3em 0; }

#tour {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; }
#tour #tour-title {
    padding: 3em 0;
    color: #ffffff; }

#music {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0; }
#music #music-title {
    padding: 3em 0;
    color: #ffffff; }

#contact {
    background-image: url("/img/jumbo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; }
#contact #contact-title {
    padding: 3em 0;
    color: #ffffff; }

#blog-main {
    background-image: url("/img/blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; }
#blog-main #blog-main-title {
    padding: 3em 0; }
